.bg-shandian{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 1;
}
.bg-shandian>img{
	position:absolute;
	width:400px;
}
.bg-login{
	text-align: center;
}
.bg-form{
	position:relative;
	z-index: 2;
}
.regist-message{
	margin-top:50px;
}
.selectRole-body{
	background-image: url("./images/other/selector01.jpg");
}
.selectRole-mainRole{
	width:40px;
	height:300px;
	border-radius:5px ;
	background-color:#fff; 
	position:fixed;
	left:-5px;
	top:100px;
}
.selectRole-mainRole>span{
	position:relative;
	top:10px;
	left:10px;
	font-size: 20px;
	margin-bottom:30px;
}
.selectRole-mainRole>span:hover{
	cursor:pointer;
}
.selectModal-body{
	background-color: #000;
	padding-right:0px !important;
}
.selectModal-container{
	text-align: center;
}
.selectModal-container>img{
	margin:70px 0;
}
.selectModal-container>img:hover{
	cursor: pointer;
	transform:scale(1.2);
	-ms-transform:scale(1.2); 	/* IE 9 */
	-moz-transform:scale(1.2);	/* Firefox */
	-webkit-transform:scale(1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2);	/* Opera */
	transition: all linear 0.3s;	
}
.RoleSelected{
	position:absolute;
	bottom:20px;
	right:20px;
	display: none;
}
.RoleSelected-active{
	display: block;
}
.select-battle{
	margin:20px auto;
}
.select-battle tr>td,.select-battle th{
	width:200px;
	text-align: center;
}
.select-battle tr{
	height:50px;
	line-height:50px;
	border-bottom: 1px solid gray;
}
.select-battle tr a{
	cursor: pointer;
}
.battle-message{
	display: none;
}
.main-container{
	position:fixed;
	left: 0;
	top: 0;
	bottom:0;
	right:0;
	background-color:#000;
	background-image: url("./images/bg/1.jpg"); 
	z-index: -1;
}
.chapterDetail{position:relative;}
.chapterDetail>span{
	display:block;
	width:150px;
	height:201px;
	line-height: 201px;
	position:absolute;
	top:10px;
	left:10px;
	bottom:0;
	right:0;
	transition: all linear 0.3s;
	color:transparent;
}
.chapterDetail>span:hover{
	background:rgba(0,0,0,0.8);
	color:#fff;
	font-size:30px;
	cursor: pointer;
}