.bg-shandian{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 1;
}
.bg-shandian>img{
	position:absolute;
	width:400px;
}
.bg-login{
	text-align: center;
}
.bg-form{
	position:relative;
	z-index: 2;
}
.regist-message{
	margin-top:50px;
}
.selectRole-body{
	background-image: url("./images/other/selector01.jpg");
}
.selectRole-mainRole{
	width:40px;
	height:300px;
	border-radius:5px ;
	background-color:#fff; 
	position:fixed;
	left:-5px;
	top:100px;
}
.selectRole-mainRole>span{
	position:relative;
	top:10px;
	left:10px;
	font-size: 20px;
	margin-bottom:30px;
}
.selectRole-mainRole>span:hover{
	cursor:pointer;
}
.selectModal-body{
	background-color: #000;
}
.selectModal-container{
	text-align: center;
}
.selectModal-container>img{
	margin:70px 0;
}
.selectModal-container>img:hover{
	cursor: pointer;
	transform:scale(1.2);
	-ms-transform:scale(1.2); 	/* IE 9 */
	-moz-transform:scale(1.2);	/* Firefox */
	-webkit-transform:scale(1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2);	/* Opera */
	transition: all linear 0.3s;
}
